@model Library.PL.ViewModel.BooksVM
@inject IHttpContextAccessor httpContextAccessor;
<div class="container">
    <div class="text-center">
        @* <button class="btn btn-dark filter-button" data-filter="all"> All </button> *@
        @if (httpContextAccessor.HttpContext.Session.GetString("userName") != null)
        {
            <form asp-controller="Home" asp-action="Index" method="get" style="display: inline-block;">
                <div style="display:inline-block;">
                    <input type="search" id="searchInput" name="query" style="width: 150px;" class="form-control" placeholder="Search...">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        }
       
    </div>
    <br />
    <div class="row">
        @foreach (var item in Model.Books)
        {
            <partial name="_BookItems" model="item"></partial>
        }
    </div>
</div>

@* @section Scripts {
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

        });
    </script>
}
 *@


@*  @foreach (var item in Model.categories)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@item.Name.Replace(' ', '_')"> @item.Name </button>
        } *@